a {
  color: #00B7FF;
}

* { padding: 0; margin: 0; }
html, body, #maincontainer {
    min-height: 100% !important;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
#maincontainer {
    width: 100%;
}

#directionsInput {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #4285F4 !important;
}
#directionsInputTwo {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #3367D6 !important;
}

#routeDuration {
  float: right;
}

#routeSummary {
  float: left;
}

#sidebar {
  margin-left: -8px;
  margin-top: -8px;
  padding-top: 8px;
  width: 27%;
  height: 100%;
  float: left;
}

#directionsbar {
  height: 100px;
  overflow:scroll;
  background-color: purple;
}

/* label color */
.input-field label {
  color: #ffffff !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #ffffff !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #ffffff !important;
  box-shadow: 0 1px 0 0 #ffffff !important;
}
.input-field input[type=text]:not(:focus) {
  border-bottom: 1px solid #ffffff !important;
  box-shadow: 0 1px 0 0 #ffffff !important;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #ffffff !important;
  box-shadow: 0 1px 0 0 #ffffff !important;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #ffffff !important;
  box-shadow: 0 1px 0 0 #ffffff !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #ffffff !important;
}

.input-field {
  color: #ffffff !important;
}

.dots-loader:not(:required) {
  opacity: 1;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -4px;
  margin-top: -4px;
  text-indent: -9999px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: transparent;
  border-radius: 100%;
  box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  animation: dots-loader 5s infinite ease-in-out;
  transform-origin: 50% 50%;
  transform: scale(1);
  transition: .3s all;
}

@keyframes dots-loader {
  0% {
    box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  8.33% {
    box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  16.67% {
    box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  25% {
    box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  33.33% {
    box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;
  }
  41.67% {
    box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  50% {
    box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  58.33% {
    box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  66.67% {
    box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  75% {
    box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  83.33% {
    box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;
  }
  91.67% {
    box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  100% {
    box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
}

.loaded .dots-loader {
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transform: scale(0);
}